body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background: #e8e7e4;
}
#page {
}
.sidebar {
    box-sizing: border-box;
    position: fixed;
    width: 230px;
    z-index:1;
    background-color: #343131;
    height: 100%;
    border-right: solid 1px #dadada;
}
.sidebar-title {
    line-height: 36px;
    padding: 0.35em 1em;
    display: block;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dadada;
    color: #dadada;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.sidebar-item {
    line-height: 18px;
    padding: 0.35em 1.618em;
    display: block;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #dadada;
}
.sidebar-item-selected {
    background: #035070;
    line-height:20px;
    font-size: 20px;
    font-weight: bold;
}
.sidebar-item:hover {
    background: #dadada;
    color: #343131;
    line-height:20px;
    font-size: 20px;
}
.page-panel {
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 960px;
}
.content {
    margin-left: 230px;
    padding: 6px;
    padding-left: 15px;
    color: #303030;
}
.content h1 {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 10px;
    font-family: Trebuchet, Tahoma, Arial, sans-serif;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    border-color: #dadada;
}

.content table thead {
    text-align: left;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    padding:0px;
    background: #035070;
    color: #dadada;
    height: 2.5em;
}
.content table thead th {
    border-style: solid;
    border-width: 1px;
    padding: 7px;
}
.content table tr {
    height: 2.3em;
    padding: 9px;
    font-family: ‘Courier New’, Courier, monospace;
}
.content table tr:nth-child(even) {
    background: #fafafa;
}
.content table tr td {
    padding: 5px;
}

.content input {
    outline: none;
    border: solid 1px #cdcdcd;
    height: 1.5em;
    padding: 0px;
}
.content td input {
    width: 100%;
}
.content td select {
    width: 100%;
}
.content a {
    text-decoration: underline;
}


/* Nodes Page specific styles */
.content .nodes-page table tr td:first-child {
    width: 130px;
}


/* Scripts Page specific styles */
.content .scripts-page table tr td:first-child {
    width: 120px;
}
.content .scripts-page table tr td:nth-child(2) {
    width: 130px;
}
.content .scripts-page table tr td:last-child {
    width: 60px;
}

/* Log pag specific styles */
#thread-id-filter {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
